@model AppUser

@{
    ViewData["Title"] = @Model.Email;
    var userCurrentRoles = await _userManager.GetRolesAsync(Model);
    var roles = _roleManager.Roles.ToList();
    var address = await _addressRepo.GetAsync(x => x.Id == Model.AddressId);
}

<div class="user-role-edit">
    <div class="container">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="success-message">
                @TempData["SuccessMessage"]
            </div>
        }
        @if (TempData["FailureMessage"] != null)
        {
            <div class="failure-message">
                @TempData["FailureMessage"]
            </div>
        }
        <div class="user-info">
            <h1>UPDATE USER ROLES</h1>
            <h3>User Info:</h3>
            <p><b>Email:</b> @Model.Email</p>
            <p><b>Name:</b> @Model.FirstName @Model.LastName</p>
            @if (!String.IsNullOrWhiteSpace(Model.CompanyName))
            {
                <p><b>Company:</b> @Model.CompanyName</p>
            }
            <h3>Address:</h3>
            <p><b>Street:</b> @address!.StreetName</p>
            <p><b>City:</b> @address!.City</p>
            <p><b>Zip Code:</b> @address!.PostalCode</p>
        </div>
        <div class="role">
            <form method="post">
                <h2>Roles:</h2>
                <div class="role-container">
                    @foreach (var role in roles)
                    {
                        <div>
                            <input type="checkbox" id="@role.Id" name="selectedRoles" value="@role.Name" @(userCurrentRoles.Contains(role.Name!) ? "checked" : "")>
                            <label for="@role.Id">@role.Name</label>
                        </div>
                    }
                    </div>
                <button type="submit">UPDATE ROLES</button>
            </form>
        </div>
    </div>
</div>